@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.header, .footer {
  display: flex;
  padding: 1rem;
}

.footer {
  /* TODO: mover para o pé da página */
  align-items: flex-end;
  /** por que não funciona? */
  
  background-color: #ddd;
}

.left-links, .right-links {
  display: flex;
  gap: 32px;
  /** por que preciso fazer isso? */
  margin: 0; 
  padding: 0;
}

.left-links {
  /* justify-content: flex-start; */
  /** pq não funciona? */
  
}

.right-links {
  /* justify-content: flex-end; */ 
  /** pq não funciona? */

  margin-left: auto;
}

/* .container {
  display: flex;
  flex-direction: column;
} */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 89vh; gambiarra esquisita, fazer direito */
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 0.5rem;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style: none;
}

a, a:hover, a:before, a::after {
  text-decoration: none;
  font-weight: 500; 
  /** pq não funciona? */
  
  color: hsl(0, 0%, 25%)
}